@{
    ViewInfo.Title = "Sponsor Information";
}

<div class="jumbotron">
    <h1>@ViewInfo.Title</h1>
    <p class="lead">Information for sponsoring the @State.CurrentEvent.Name event!</p>
</div>

<div class="page-header text-center">
    <h2>Sponsors make our annual code camps possible!</h2>
</div>

<div class="row">
    <div class="col-md-9" role="main">
        <p>Each year the Tallahassee Code Camp is attended by hundreds of area software developers and IT professionals. 
        Sponsoring this event is a great way to connect with attendees.</p>
        <ul>
            <li>Promote your business or product.</li>
            <li>Meet and network with potential employees</li>
            <li>Support the Tallahassee area software development community</li>
        </ul>
        <p>If you're interested in sponsoring, fill out the following form and our sponsorship coordinator will contact you to finalize your sponsorship.</p>
        <iframe src="https://docs.google.com/forms/d/1dQB7DBz4U2CQttYes4S45MeblQjdI1UudoLJjzxd380/viewform?embedded=true" width="900" height="1550" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>       
    </div>
</div>