@{
    ViewInfo.Title = "No Event Scheduled";
}

<div class="jumbotron">
    <h2>There is no event currently scheduled.</h2>
    <p class="lead">Please check back later for news on future events.</p>
</div>