@using CodeCamp.Domain
@using CodeCamp.Domain.Model
@{
    ViewInfo.Title = "Register for " + State.CurrentEvent.Name;
}

<div class="jumbotron">
    <h2>@State.CurrentEvent.Name starts on @State.CurrentEvent.Start.Date.ToString("D").</h2>
    <p class="lead">Would you like to register now?</p>
</div>

<div class="row" style="margin: 60px">
    <form method="POST" action="@Url.Action("Index", "Registration", new{eventSlug=State.CurrentEventSlug()})" class="text-center">
        <a href="@Url.Action("Index", "Account")" class="btn btn-lg btn-danger">No thank you.</a>
        <button type="submit" class="btn btn-lg btn-success">YES! Please register me now.</button>
    </form>
</div>