.two-columns
	.sidebar
		%h3 What do you want to do?
		%p Tell us what you want to talk about. 
		%p This will be the actual abstract that will be listed on the site.
		%p You can propose as many as you like.
	.main-column
		%h2 Propose Session
		%form{method="post"}
			.field
				%label Title
				= Html.FormField<ProposeSession>(x=>x.Title)
			.field
				%label Audience Level
				= Html.FormField<ProposeSession,AudienceLevel>(x=>x.AudienceLevel)
			.field
				%label Abstract
				= Html.TextArea("Abstract")
			.form-buttons
				%input {type="submit" value="Propose"}