.two-columns
	.sidebar

	.main-column
		%h1 Change Password
		=Html.ValidationSummary()
		%form{method="post"}
			.field
				%label New Password
				= Html.Password("NewPassword")
			.field
				%label Verify Password
				= Html.Password("PasswordVerification")
			.form-buttons
				%input {type="submit" value="Change Password"}
				= Html.BackButton("Cancel")