-var speaker = ViewData.Model;
-var twitter = speaker.Twitter
.two-columns
	.sidebar
		-Html.RenderAction("Featured","Sponsors")
		-if(!string.IsNullOrEmpty(twitter))
			_TwitterWidget

	.main-column
		.speaker 
			.speaker-pic 
				%img{src=Url.Gravatar(speaker.Account.Username,120) alt=speaker.Name width="120"}
				-if(speaker.IsMVP)
					%br
					%img{src="/content/img/mvp.gif" alt="Microsoft Value Professional" width="120" height="32"}
			%div{style="float: left; width: 400px;"}
				%div
					%h3
						=Html.ActionLink(speaker.Name, "Details", new {lookupName=speaker.LookupName})
					.speaker-title
						&=speaker.Title
						\@
						&=speaker.CompanyName
					.speaker-blog
						%a.blog{href=speaker.BlogUrl} =speaker.BlogUrl
					.speaker-bio
						%p =speaker.Bio
		-Html.RenderAction("Sessions", new {speakerId=speaker.Id});