-var speakers = from speaker in ViewData.Model orderby speaker.Name select speaker

.two-columns
	.sidebar
		-Html.RenderAction("Featured","Sponsors")

	.main-column
		%h2 Speakers
		-foreach(var speaker in speakers)
			.speaker 
				.speaker-pic 
					%img{src=Url.Gravatar(speaker.Account.Username,120) alt=speaker.Name width="120"}
					-if(speaker.IsMVP)
						%br
						%img{src="/content/img/mvp.gif" alt="Microsoft Value Professional" width="120" height="32"}
				.speaker-summary
					%h3
						=Html.ActionLink(speaker.Name, "Details", new {lookupName=speaker.LookupName})
					.speaker-blog
						%a.blog{href=speaker.BlogUrl} =speaker.BlogUrl
					.speaker-bio
						%p =speaker.Bio
		