@using System.Web.Optimization
@using EventSite.Domain
@{
    var title = (ViewInfo.Title ?? string.Empty) + " | ";
    if(State.EventScheduled()) {
        title += State.CurrentEvent.Name;
    } else {
        title += State.Settings.Name;
    }
}
<!DOCTYPE html>
<html>
    <head>
        <title>@title</title>
        
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1" />
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="apple-mobile-web-app-status-bar-style" content="black" />
        <meta name="format-detection" content="telephone=no"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        
        <link rel="apple-touch-startup-image" href="~/Content/images/ios-startup-image-landscape.png" media="(orientation:landscape)" />
        <link rel="apple-touch-startup-image" href="~/Content/images/ios-startup-image-portrait.png" media="(orientation:portrait)" />
        <link rel="apple-touch-icon" href="~/Content/images/icon.png"/>
        
        @Styles.Render("~/Content/styles/combined")
        
        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
          <script src="../../Scripts/html5shiv.min.js"></script>
          <script src="../../Scripts/respond.min.js"></script>
        <![endif]-->
        
        <script type="text/javascript">
            if (navigator.userAgent.match(/IEMobile\/10\.0/)) {
                var msViewportStyle = document.createElement("style");
                var mq = "@@-ms-viewport{width:auto!important}";
                msViewportStyle.appendChild(document.createTextNode(mq));
                document.getElementsByTagName("head")[0].appendChild(msViewportStyle);
            }
        </script>
    </head>
    <body>
        @RenderBody()
        @Scripts.Render("~/Scripts/combined")
    </body>
</html>