@using EventSite.Domain
<footer>
    <hr />
    <p class="pull-right"><a href="#">Back to top</a></p>
    <p class="pull-left">
        @State.Settings.Owner<br/>
        <a href="@Url.RouteUrl("Contact")">Contact Us</a>
    </p>
</footer>
<!--  
    Commit @State.Settings.CommitId
    -->