@using EventSite.Domain
<footer>
    <p class="pull-right"><a href="#">Back to top</a></p>
    <p class="pull-left">@State.Settings.Owner</p>
</footer>
<!--  
    Commit @State.Settings.CommitId
    -->