
    <hr class="featurette-divider">

<div class="row featurette">
    <div class="col-md-7">
        <h2 class="featurette-heading">Charity: <span class="text-muted">Boys & Girls Clubs of the Big Bend</span></h2>
        <p class="lead">
            Want a chance to win some awesome swag and help a good cause at the same time?
            By purchasing raffle tickets for $1 each you can help support <a target="_empty" href="http://bgcbb.org/">Boys & Girls Clubs of the Big Bend</a>,
            The Boys & Girls Clubs of the Big Bend is a 501(c)(3) nonprofit organization that serves the needs of thousands of children and teenagers in the Big Bend area. The programs we implement to fulfill our mission help us work toward our number one goal, which is for every single one of our members to graduate high school on time with a plan for his or her future.
        </p>
    </div>
    <div class="col-md-5">
        <img style="padding: 4px" class="decorative-image charity img-responsive" src="~/Content/images/home/featurette/charity.jpg" alt="Great futures start here">
    </div>
</div>

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading">Free Food. <span class="text-muted">Yes, for real.</span></h2>
            <p class="lead">
                FREE breakfast and FREE lunch will be provided on site. Now, you really have no excuse for not coming do you?
            </p>
        </div>
        <div class="col-md-5">
            <img class="decorative-image challenge img-responsive" src="~/Content/images/home/featurette/food.jpg" alt="Food">
        </div>
    </div>
