
    <hr class="featurette-divider">

<div class="row featurette">
    <div class="col-md-7">
        <h2 class="featurette-heading">Charity: <span class="text-muted">Down Syndrome Association of Tallahassee</span></h2>
        <p class="lead">
            Want a chance to win some awesome swag and help a good cause at the same time?
            By purchasing raffle tickets for $1 each you can help support <a target="_empty" href="http://dsatallahassee.com/">Down Syndrome Association of Tallahassee</a>.
            The mission of DSAT is to provide education, support, and resources to individuals with Down syndrome, their families, professionals, and the community while building public awareness and acceptance of the abilities of individuals with Down syndrome.
        </p>
    </div>
    <div class="col-md-5">
        <img style="padding: 4px" class="decorative-image charity img-responsive" src="~/Content/images/home/featurette/charity.png" alt="Down Syndrome Association of Tallahassee">
    </div>
</div>

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading">Free Food. <span class="text-muted">Yes, for real.</span></h2>
            <p class="lead">
                FREE breakfast and FREE lunch will be provided on site. Now, you really have no excuse for not coming do you?
            </p>
        </div>
        <div class="col-md-5">
            <img class="decorative-image challenge img-responsive" src="~/Content/images/home/featurette/food.jpg" alt="Food">
        </div>
    </div>
