
    @*<hr class="featurette-divider">

<div class="row featurette">
    <div class="col-md-7">
        <h2 class="featurette-heading">Charity: <span class="text-muted"> Brain Injury Association of Florida</span></h2>
        <p class="lead">
            Want a chance to win some awesome swag and help a good cause at the same time?
            By purchasing raffle tickets for $1 each you can help support <a target="_empty" href="http://www.biaf.org/">Brain Injury Association of Florida</a>,
            a statewide nonprofit organization dedicated to inform, educate, support and advocate on behalf of traumatic brain injury (TBI) survivors, their families and caregivers.
        </p>
    </div>
    <div class="col-md-5">
        <img style="padding: 4px" class="decorative-image charity img-responsive" src="~/Content/images/home/featurette/charity.jpg" alt="Be the Solution">
    </div>
</div>

<hr class="featurette-divider">

<div class="row featurette">
    <div class="col-md-5">
        <img class="decorative-image challenge img-responsive" src="~/Content/images/home/featurette/challenge.jpg" alt="Challenge">
    </div>
    <div class="col-md-7">
        <h2 class="featurette-heading">Take up the coding challenge. <span class="text-muted">Enter the fray.</span></h2>
        <p class="lead">
            All attendees at this event are invited to test their skills in our annual coding challenge. Rules and details will be available
            at the registration desk. 
        </p>
    </div>
</div>

<hr class="featurette-divider">
    
<div class="row featurette">
    <div class="col-md-7">
        <h2 class="featurette-heading">Free Food. <span class="text-muted">Yes, for real.</span></h2>
        <p class="lead">
            FREE breakfast and FREE lunch will be provided on site. Now, you really have no excuse for not coming do you?
        </p>
    </div>
    <div class="col-md-5">
        <img class="decorative-image challenge img-responsive" src="~/Content/images/home/featurette/food.jpg" alt="Food">
    </div>
</div>*@
