@{
    ViewInfo.Title = "Contact Us";
}

<div class="jumbotron">
    <h1>@ViewInfo.Title</h1>
</div>

<p>
    If you have any questions about the Code Camp, need to report a bug with the site, have a general suggestion, or just want to say, "Hi!" fill out
    the form below to send us a quick message.
</p>

<iframe src="https://docs.google.com/forms/d/1lDW5WrJIFoYS7oyo-kdP-JfM3h8T0FxzvYDHcHjb6ck/viewform?embedded=true" width="800" height="750" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>