.two-columns
	.sidebar
		%h2 Admin Links

	.main-column
		%h2 Admin Links
		%ul
			%li
				%a{href="http://tallycodecamp.org/adminblob"} upload image
			%li
				%a{href="http://tallycodecamp.org/adminsponsor"} edit sponsors
			%li
				%a{href="http://tallycodecamp.org/session/proposals"} approve sessions
			%li
				%a{href="http://tallycodecamp.org/adminsession"} edit sessions
			%li
				%a{href="http://tallycodecamp.org/adminspeaker"} edit speakers