^ needFacebookScript = true;

.two-columns
	.sidebar
		-Html.RenderAction("Featured","Sponsors")
		%br
		-Html.RenderAction("Stats","Registration")
		%br
	.main-column
		%h2{style="color: #000000;"}Tallahassee Code Camp 8

		%h3 Attend
		%p
			=Html.ActionLink("Click here to register","Attend","Registration")

		<h3>Location</h3>
		<p>
		 Shores Building<br/>
		 142 Collegiate Loop<br/>
		 Tallahassee, FL 32306-2100
		</p>
		<p>
		 For further details see our <a href="location">locations page</a>.
		</p>

		<h3>Schedule</h3>
		<p>
		 Saturday, November 3, 2012<br/>
		 7:00am - Registration/Breakfast<br/>
		 8:00am - Keynote/Orientation (giveaways)<br/>
		 6:00pm - After Party<br/>
		</p>
		
		%h3 Parking
		%p
			The parking garage adjacent to the Shores building (northwest) and the parking lot (west) are both available for attendees.

		%h3 Food
		%p
			FREE breakfast and FREE lunch will be provided on site.
		%p
			Follow the code camp on twitter
			%a{href="http://twitter.com/tallycodecamp"}@tallycodecamp
		#fb-root
			%fb:like{href="http://www.facebook.com/pages/Tallahassee-Code-Camp/175430389192507" send="false" layout="button_count" show_faces="false" action="like" font="arial"}