-var baseUrl = "http://dev.virtualearth.net/embeddedMap/v1/silverlight/";
-var lat = 30.441306;
-var lng = -84.29603;
-var mode = "AerialWithLabels";
-var zoom = 18;
-var url = string.Format("{0}{1}?zoomLevel={2}&center={3}_{4}&pushpins={3}_{4}", baseUrl, mode, zoom, lat, lng);

%h1 Location 
%div
	%div{style="float:left; margin-right:8px; width:120px;"} Shores Building
		%div 142 Collegiate Loop
		%div Tallahassee, FL 32306-2100
		%a{href="http://www.bing.com/maps/?mm_embed=dir&amp;cp=30.440831489142433~-84.2955787738453&amp;rtp=~pos.30.440831489142433_-84.29557877384526_Collegiate+Way%2C+Tallahassee%2C+FL+32306&amp;lvl=16&amp;sty=r" target="_blank"} Get Directions

	#mapviewer{style="float:left;"}
		%iframe{scrolling="no" width="640" height="512" frameborder="0" src=url}