@{
    ViewInfo.Title = "Location";
}

<div class="jumbotron">
    <h1>@ViewInfo.Title</h1>
    <p class="lead">The <strong>where</strong> and <strong>when</strong> of @State.CurrentEvent.Name.</p>
</div>