.two-columns
	.sidebar
		%h3 What's this for?
		%p We'll use to print your badge.
	.main-column
		%h2 Your Profile
		%form{method="post"}
			.field
				%label Name
				= Html.FormField<EditProfile>(x=>x.Name)
			.field
				%label twitter Handle
				= Html.FormField<EditProfile>(x=>x.Twitter)
			.field
				%label 
				= Html.CheckBox("IsPublic",true, new{@class="checkbox"})
				%span Can we list you in our online directory of who's attending?
			.field
				%label 
				= Html.CheckBox("OptOut",true, new{@class="checkbox"})
				%span Can we send you a email or two on behalf of our sponsors?
			.form-buttons
				%input {type="submit" value="Register"}