<?xml version="1.0"?>

<configuration>
  
  <configSections>
    <section name="nhaml" type="NHaml.Configuration.NHamlConfigurationSection, NHaml"/>
	<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,Log4net" />
  </configSections>
  
  <connectionStrings>
    <add name="Production" connectionString="Data Source=tcp:sql2k801.discountasp.net;Initial Catalog=SQL2008_649960_tallycc;User ID=SQL2008_649960_tallycc_user;Password=farfromit;" providerName="System.Data.SqlClient"/>
    <add name="RADIANCE_P" connectionString="Data Source=tcp:sql2k801.discountasp.net;Initial Catalog=SQL2008_649960_tallycc;User ID=SQL2008_649960_tallycc_user;Password=farfromit;" providerName="System.Data.SqlClient"/>
    <add name="RADIANCE" connectionString="data source=RADIANCE;Integrated Security=SSPI;Database=Castra" providerName="System.Data.SqlClient"/>
    <add name="SEPTEM" connectionString="data source=SEPTEM;Integrated Security=SSPI;Database=Castra" providerName="System.Data.SqlClient"/>
    <add name="EFFECT" connectionString="Data Source=EFFECT\SQLEFFECT;Integrated Security=True;Initial Catalog=Castra" providerName="System.Data.SqlClient"/>
    <add name="SAQIBHOME" connectionString="Data Source=SaqibHome\SaqibHomeSQL;Integrated Security=True;Initial Catalog=Castra" providerName="System.Data.SqlClient"/>
  </connectionStrings>

  <appSettings>
   <!--
   <add key="schemaMode" value="Update"/>
   -->
    <add key="DefaultConnectionString" value="SAQIBHOME"/>
    <!--Values: Update, Create, DropAndCreate-->
  </appSettings>

  <system.web>
	<customErrors mode="Off"/>

    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Mvc, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </assemblies>
    </compilation>

    <pages>
      <namespaces>
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
      </namespaces>
    </pages>
  </system.web>

  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

  <!-- for more info: http://code.google.com/p/nhaml/wiki/Configuration -->
  <nhaml autoRecompile="true" templateCompiler="CSharp4" encodeHtml="false" useTabs="true">
    <assemblies>
      <add assembly="Castra.Web"/>
      <add assembly="BlueSpire.Kernel"/>
      <add assembly="BlueSpire.Web.Mvc"/>
    </assemblies>
    <namespaces>
      <add namespace="System.Linq"/>
      <add namespace="System.Web.Mvc"/>
	  <add namespace="BlueSpire.Web.Mvc.Helpers"/>
	  <add namespace="BlueSpire.Web.Mvc.Membership"/>
	  <add namespace="NHaml.Web.Mvc"/>
      <add namespace="Castra.Web"/>
      <add namespace="Castra.Web.Controllers"/>
      <add namespace="Castra.Web.Commands"/>
    </namespaces>
  </nhaml>

	<log4net>
		<appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
			<file value="log\log.txt" />
			<appendToFile value="true" />
			<rollingStyle value="Date" />
			<maxSizeRollBackups value="10" />
			<maximumFileSize value="5120KB" />
			<staticLogFileName value="true" />
			<lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%-5p %d{yyyy-MM-dd hh:mm:ss} – %logger – %m%n" />
			</layout>
		</appender>

		<root>
			<level value="ERROR" />
			<appender-ref ref="RollingFileAppender" />
		</root>
	</log4net>
  
</configuration>