@model CodeCamp.Domain.Commands.UpdateProfile

@{
    ViewInfo.Title = "My Account";
}

<div class="jumbotron">
    <h1>My Account</h1>
    <p class="lead">Update your profile, set your preferences and submit sessions.</p>
    <p>
        <a class="btn btn-lg btn-success" href="#">Submit Session</a>
        <a class="btn btn-lg btn-success" href="#">Sponsor Us</a>
    </p>
</div>

<div class="panel panel-default">
  <div class="panel-heading">Profile</div>
  <div class="panel-body">
    Panel content
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Preferences</h3>
  </div>
  <div class="panel-body">
    Panel content
  </div>
</div>