@{
    ViewInfo.Title = "Login";
}

<div class="jumbotron">
    <h2>Login or Create an Account</h2>
    <p class="lead">Select one of the social login providers below to get started.</p>
</div>

<div class="container login-buttons" style="margin: 60px">
    <div class="row">
        <div class="col-md-offset-4 col-md-2">
            <a class="btn btn-lg btn-default" href="/authentication/redirect/fakeFacebook">
                Google
            </a> 
        </div>
        <div class="col-md-2">
            <a class="btn btn-lg btn-default" href="/authentication/redirect/fakeFacebook">
                Facebook
            </a> 
        </div>
    </div>
    <div class="row">
        <div class="col-md-offset-4 col-md-2">
            <a class="btn btn-lg btn-default" href="/authentication/redirect/fakeFacebook">
                Twitter
            </a> 
        </div>
        <div class="col-md-2">
            <a class="btn btn-lg btn-default" href="/authentication/redirect/fakeFacebook">
                Github
            </a> 
        </div>
    </div>
    <div class="row">
        <div class="col-md-offset-4 col-md-2">
            <a class="btn btn-lg btn-default" href="/authentication/redirect/fakeFacebook">
                LinkedIn
            </a> 
        </div>
        <div class="col-md-2">
            <a class="btn btn-lg btn-default" href="/authentication/redirect/fakeFacebook">
                MS Live
            </a> 
        </div>
    </div>
</div>