-var sponsor = (Castra.Web.Models.Sponsor)ViewData.Model;
	.top 
	.content
		%h2 Featured Sponsor
		.sponsor 
			%a{href=sponsor.Url title=sponsor.Name}
				%img{src=sponsor.BannerUrl width="160"}
		.sponsor-level 
			=Html.ActionLink("Support our Sponsors", "Index", "Sponsors")
		%br 
	.bottom