-var groups = from sponsor in ViewData.Model group sponsor by sponsor.Level into g orderby g.Key.Value descending select new {g.Key, Items=g}

-foreach (var group in groups)
	%h2 =group.Key.DisplayName
	-foreach(var sponsor in group.Items)
		.speaker 
			.speaker-pic 
				%img{src=sponsor.BannerUrl alt=sponsor.Name width="250"}
			%div{style="float: left; width: 400px;"}
				%div
					%h3
						%a{href=sponsor.Url} =sponsor.Name
					.speaker-blog
						%a.blog{href=sponsor.Url} =sponsor.DisplayUrl
					.speaker-bio =sponsor.Blurb
			%div{style="clear: both;"}