@{
    ViewInfo.Title = "Sponsors";
}

<div class="jumbotron">
    <h1>@ViewInfo.Title</h1>
    <p class="lead">Thanks to all the companies and individuals who helped make @State.CurrentEvent.Name possible!</p>
</div>