-var type = ViewData.Model.Type.Name;
-title = "Index " + type
%h2 Index
	=type
%p= Html.ActionLink("Create " + type, "Create")
%div Pages:
	-for (int p = 1; p <= ViewData.Model.PageCount; p++)
		= Html.ActionLink(p.ToString(),"Index",new{page=p})
		
%ul
	-foreach (var item in ViewData.Model.Items)
		%li{style="margin-bottom:6px;"}
			=Html.ActionLink(item.ToString(), "Details", new { Id = item.Id }, new {style="font-size:160%;"})
			=Html.ActionLink("[edit]", "Edit", new { Id = item.Id })
			=Html.ActionLink("[destory]", "Destroy", new { Id = item.Id })