@model dynamic

@{
    ViewInfo.Title = "Register for " + State.CurrentEvent.Name;
}

<h2>You are not yet registered for @State.CurrentEvent.Name!</h2>
<h3>Would you like to register now?</h3>

<form method="POST" action="@Url.Action("Index", "Register")">
    <button type="submit" class="btn btn-success">YES! Please register me now.</button>
    <a href="@Url.Action("Index", "Account")" class="btn btn-danger">No thank you.</a>
</form>